<div class="overlay">
    <div class="container">
        <div class="ui inverted segment">
            <div class="ui inverted secondary menu">
                <h1 class="mus">Music quotes.</h1>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="ui cards" *ngFor='let quote of quotes;let i = index'>
                    <div class="card">
                        <div class="content">
                            <div class="right floated">{{quote.completeDate|date}}</div>
                            <h5 class="header">{{quote.author}}: </h5>
                            <div class="description" appHighlight>{{quote.music}}</div>

                            <!-- upvote fabs -->
                            <div float-right>

                                <a (click)="quote.upvotes=quote.upvotes+1"> <i class="thumbs up icon"></i></a>
                                {{quote.upvotes}}
                                <a (click)="quote.downvotes=quote.downvotes+1"> <i class="thumbs down icon"></i></a>
                                {{quote.downvotes}}

                            </div>

                            <h6>
                                <app-music-quotes [quote]='quote' (isComplete)='deleteQuote($event,i)'>
                                </app-music-quotes>
                            </h6>
                        </div>
                    </div>
                </div>

            </div>
            <!-- quotes form -->
            <div class="col-md-6">
                <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
            </div>

        </div>

    </div>
</div>